/* You can add global styles to this file, and also import other style files */

.small {
    font-size: 12px;
}

.theme {
    width: 10px;
    height: 15px;
}

.ort-bg {
    background-color: #f6b120;
}

.ausruestung-bg {
    background-color: #807d84;
}

.held-bg {
    background-color: #009ec6;
}

.schurke-bg {
    background-color: #e3291c;
}

.manoever-bg {
    background-color: #f0b8d5;
}

.zustand-bg {
    background-color: #6abb45;
}

.verbuendeter-bg {
    background-color: #893686;
}
